In [1]:
%matplotlib widget
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
from itertools import product
df = pd.concat([pd.read_csv(f'hap{N}_100_{S}.repeats.csv') for N,S in product((1,2),('hifiasmv152','shastamerfintigs'))])

In [15]:
dfx = df[df['primary']==False]
t = dfx.groupby(['assembler','hap']).sum().reset_index()
t['chrm']='unplaced'

,chrm,primary,length,GC,masked,Retroelements,SINEs,LINEs,LTR elements,DNA transposons,Unclassified,Total interspersed repeats,Small RNA,Satellites,Simple repeats,Low complexity,hap,assembler
3,unplaced_asm_contigs_03,False,52366148,3.034618e+09,43752394,4104583.0,644766.0,322226.0,3137591.0,16088.0,2787007.0,6907678.0,118713.0,36125593.0,540240.0,74123.0,hap1,hifiasmv152
8,unplaced_asm_contigs_04,False,29456861,1.696126e+09,25704621,2243643.0,371224.0,209204.0,1663215.0,9328.0,1818407.0,4071378.0,72477.0,21274037.0,255446.0,37099.0,hap1,hifiasmv152
11,unplaced_asm_contigs_00,False,52252834,2.702517e+09,44059909,5170555.0,499251.0,2735924.0,1935380.0,19044.0,2199944.0,7389543.0,73161.0,36369963.0,258224.0,21480.0,hap1,hifiasmv152
18,unplaced_asm_contigs_02,False,52292936,2.947230e+09,44743273,5457322.0,632456.0,1618235.0,3206631.0,6231.0,3153951.0,8617504.0,45369.0,35633782.0,412739.0,57379.0,hap1,hifiasmv152
24,unplaced_ref_contigs_01,False,17745941,9.293549e+08,17206345,2293240.0,38943.0,43756.0,2210541.0,1654.0,305454.0,2600348.0,9221.0,14577037.0,19027.0,1253.0,hap1,hifiasmv152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,2240,False,14890,7.066794e+05,14880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14880.0,0.0,0.0,hap2,shastamerfintigs
714,1096,False,17655,8.956381e+05,17651,3994.0,0.0,0.0,3994.0,0.0,169.0,4163.0,0.0,13488.0,0.0,0.0,hap2,shastamerfintigs
715,934,False,36902,1.877574e+06,36748,10117.0,0.0,0.0,10117.0,0.0,252.0,10369.0,0.0,26379.0,0.0,0.0,hap2,shastamerfintigs
716,706,False,50731,2.578149e+06,50604,11894.0,0.0,0.0,11894.0,0.0,526.0,12420.0,0.0,38139.0,0.0,45.0,hap2,shastamerfintigs
717,4812,False,60846,2.857328e+06,60827,16247.0,0.0,0.0,16247.0,0.0,724.0,16971.0,0.0,43856.0,0.0,0.0,hap2,shastamerfintigs

In [4]:
df2 =pd.concat([df[df['primary']],t])

In [5]:
for c in ['GC', 'Retroelements', 'SINEs', 'LINEs','LTR elements', 'DNA transposons', 'Unclassified','Total interspersed repeats', 'Small RNA', 'Satellites','Simple repeats', 'Low complexity','masked']:
    df2[c+'_n'] = df2[c]/df2['length']
df2

,chrm,primary,length,GC,masked,Retroelements,SINEs,LINEs,LTR elements,DNA transposons,...,LINEs_n,LTR elements_n,DNA transposons_n,Unclassified_n,Total interspersed repeats_n,Small RNA_n,Satellites_n,Simple repeats_n,Low complexity_n,masked_n
0,21,1,80502593,3.528429e+09,39108719,19603980.0,5923765.0,10270179.0,3410036.0,834739.0,...,0.127576,0.042359,0.010369,0.134870,0.388759,0.011199,0.089186,0.006255,0.001411,0.485807
1,19,1,64402851,2.957379e+09,23550664,14365419.0,5422230.0,7311248.0,1631941.0,745303.0,...,0.113524,0.025340,0.011573,0.120533,0.355161,0.019705,0.001161,0.007277,0.001758,0.365677
2,24,1,63031554,2.644804e+09,25047430,15436636.0,5469870.0,8256622.0,1710144.0,692127.0,...,0.130992,0.027132,0.010981,0.125105,0.380989,0.009730,0.007940,0.006837,0.001475,0.397379
4,20,1,73507743,3.030724e+09,30510018,18482160.0,6361924.0,9810576.0,2309660.0,834608.0,...,0.133463,0.031421,0.011354,0.142696,0.405481,0.008340,0.000000,0.007550,0.001489,0.415059
5,3,1,122163075,5.108860e+09,52303888,31663191.0,9506344.0,18396388.0,3760459.0,1480456.0,...,0.150589,0.030782,0.012119,0.141056,0.412363,0.009667,0.007250,0.006750,0.001513,0.428148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,21,1,69214625,2.962386e+09,29596702,17902842.0,5770539.0,9925485.0,2206818.0,824153.0,...,0.143402,0.031884,0.011907,0.147895,0.418459,0.012591,0.000485,0.006894,0.001564,0.427608
0,unplaced,0,308629260,1.682510e+10,262564098,30462775.0,3564958.0,7156392.0,19741425.0,123115.0,...,0.023188,0.063965,0.000399,0.047209,0.146311,0.002191,0.695076,0.007058,0.000831,0.850743
1,unplaced,0,282535154,1.565326e+10,253415854,29351154.0,2826630.0,2332329.0,24192195.0,67460.0,...,0.008255,0.085625,0.000239,0.048121,0.152244,0.001249,0.736554,0.006552,0.000690,0.896936
2,unplaced,0,65162673,3.236007e+09,56492794,7277283.0,611443.0,2878569.0,3787271.0,48484.0,...,0.044175,0.058120,0.000744,0.039357,0.151780,0.001516,0.709474,0.005107,0.000352,0.866950
3,unplaced,0,50162223,2.536133e+09,44663139,5803007.0,409749.0,1380536.0,4012722.0,28037.0,...,0.027521,0.079995,0.000559,0.031937,0.148181,0.001302,0.740563,0.001268,0.000268,0.890374

In [6]:
sns.scatterplot(data=df2,x='chrm',y='LINEs_n',hue='assembler')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [6]:
melt = df2.melt(id_vars=['chrm','hap','assembler','primary','length'],var_name='repeat')

In [7]:
sns.catplot(data=melt,x='chrm',y='value',col='repeat',col_wrap=4,hue='assembler',sharey=False,col_order=['masked_n','GC_n','SINEs_n','LINEs_n','LTR elements_n','DNA transposons_n','Unclassified_n','Satellites_n'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [13]:
df2.groupby('assembler')[['masked','GC_n','SINEs_n','LINEs_n','LTR elements_n','DNA transposons_n','Unclassified_n','Satellites_n','Total interspersed repeats_n','Small RNA_n','Simple repeats_n', 'Low complexity_n']].mean()

,masked,GC_n,SINEs_n,LINEs_n,LTR elements_n,DNA transposons_n,Unclassified_n,Satellites_n,Total interspersed repeats_n,Small RNA_n,Simple repeats_n,Low complexity_n
assembler,,,,,,,,,,,,
hifiasmv152,4.596336e+07,43.043944,0.076246,0.133429,0.034379,0.010846,0.130896,0.054048,0.385795,0.010662,0.007670,0.001486
shastamerfintigs,3.562591e+07,42.529826,0.079080,0.139576,0.031758,0.011379,0.135288,0.025083,0.397081,0.010999,0.007332,0.001531

In [7]:
sns.scatterplot(data=df2,x='chrm',y='masked_n',hue='assembler',style='hap')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [26]:
import scipy.stats as ss
df3=df2
df2=df2[df2['primary']==True]
ss.mannwhitneyu(df2[df2['assembler']=='hifiasmv152']['DNA transposons_n'],df2[df2['assembler']=='shastamerfintigs']['DNA transposons_n'],alternative='less')

MannwhitneyuResult(statistic=1260.0, pvalue=0.0010621847958478111)

In [18]:
df = pd.concat([pd.read_csv(f'bubbles_repeat.{n}.df') for n in range(300,310)])

In [28]:
df.groupby('data').mean()

,length,GC,masked,SINEs,LINEs,LTR elements,Unclassified,Satellites,chr
data,,,,,,,,,
HiFi,32763.948763,45.288428,53.042721,5.859346,22.891996,5.813375,13.034929,4.263587,15.171076
ONT,11088.056497,44.833559,45.270028,8.422825,12.936102,3.967768,14.918983,3.811667,10.297753